platform-libs/
.design/

/gen/
/internal/adapter/outbound/postgres/db/
/internal/core/port/mocks/
vendor/

/bin/
/.tools/
.go/
/.coverage/
.gopath/
*.out
/server

/site/

.env
*.env
*.local

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.fseventsd
.AppleDouble

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

*.swp
*.swo
*.swn
.netrwhist
tags

\#*\#
.\#*

!.claude/
.claude/*
!.claude/*.md
